*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* selected text */

#btn-color{
    background-color: green
}
.small-font-size{
    font-size:medium ;
    font-weight: 600;
    color: white;
}

/* selected text end */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin:0 60px 0

}
.logo{
    display: flex;
    height: 50px;
}
.logo-icon{
height: 100%;
width: 100%;
margin-right: 10px;
}

.nav-items{
display: flex;
height: 52px;
}
.nav-items li{
    list-style: none;
    display: flex;
   
    margin: 0 20px;
    padding:14px 20px;
    align-items: center;
    border-radius:50px;
    background-color: rgba(65, 233, 255, 0.1);
}

.nav-item-logo{
    width: 30px;
    height:30px;
    margin:0 10px;


}
.nav-btn {
padding: 14px 36px;
border-radius: 50px;
}

/* navber is complete */


 /* banner is start from here */




 /* banner is end from here  */